preprocessing_corpus/split_document/split_AIHUB_finance_dataset.json_277969.json_most_common_1000.xlsx
preprocessing_corpus/split_document/split_crawl_EIA.json_2722.json_most_common_1000.xlsx
preprocessing_corpus/split_document/split_crawl_finweb.json_8011.json_most_common_1000.xlsx
preprocessing_corpus/split_document/split_Earning_call_script.json_838120.json_most_common_1000.xlsx
preprocessing_corpus/split_document/split_Edgar_Filings_Corpus.json_410338.json_most_common_1000.xlsx
preprocessing_corpus/split_document/split_Historical_News_Archive.json_221512.json_most_common_1000.xlsx
preprocessing_corpus/split_document/split_nytimes_news_data.json_90419.json_most_common_1000.xlsx
preprocessing_corpus/split_document/split_paper_abstract_corpus.json_290868.json_most_common_1000.xlsx
preprocessing_corpus/split_document/split_Reuters_TRC2.json_1800369.json_most_common_1000.xlsx
preprocessing_corpus/split_document/split_edgar_filings_corpus_37175.json_most_common_1000.xlsx
